

<br><br>

{% if request.user.is_authenticated %}

<form action="{% url 'downvote_post' %}" method="post" style="float: left;">
    {% csrf_token %}
    {% if is_downvoted %}
    <button type="submit" id="downvote" name="post_id" value="{{ post.id }}"
        class="btn btn-primary btn-success mr-md-0">Downvoted!</button>
    {% else %}
    <button type="submit" id="downvote" name="post_id" value="{{ post.id }}"
        class="btn btn-primary mr-md-0">downvote</button>
    {% endif %}

</form>
{% endif %} -->