{% load static %}
<!DOCTYPE html>
<html>

</html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style type="text/css">
    #chart text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: end;
    }

    .axis text {
        font: 10px sans-serif;
    }

    .axis path, .axis line {
        fill: none;
        /*stroke: #fff;*/
        shape-rendering: crispEdges;
    }
    .w3-sidebar{
        background-color: #404040;
        color: white;
        padding-top: 30px;
    }
    .w3-bar-block .w3-bar-item {
        border-top:30px;
    }

    body {
      background-color: #999999;

      font-family: "Helvetica Neue", sans-serif;
      margin: 0;
    }

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }
</style>
<body>
    <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:255px; " id="mySidebar">
  
  
  <a style="border-top: 30px;" href="{% url 'landing-page' %}" class="w3-bar-item w3-button">Home</a>
  <a href="{% url 'linkgraph' %}" class="w3-bar-item w3-button">Statistics</a>
  <a href="{% url 'indianmap' %}" class="w3-bar-item w3-button">India Statistics</a>
  <a href="{% url 'linegraph' %}" class="w3-bar-item w3-button">Line Chart</a>
  <a href="#" class="w3-bar-item w3-button">Bar Graph</a>
</div>
<div id="chart" style="height:800px;width:800px">
    <div class="innerCont" style="overflow: auto; top:100px; left: 400px; height:91% ; Width:100% ;position: relative;overflow: hidden;" />
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v2.min.js"></script>
<!-- <script src="csvExtract.js"></script> -->
<script type="text/javascript">
    
    var salesData;
    var chartInnerDiv = '<div class="innerCont" style="overflow: auto;top:100px; left: 400px; height:91% ; Width:100% ;position: relative;overflow: hidden;"/>';
    var runningData=[];
    var runningColors=[];
    var truncLengh = 30;

    $(document).ready(function () {
        Plot();
    });

    function Plot() {
        //console.log(csvData)
        TransformChartData(chartData, chartOptions, 0);
        BuildPie("chart", chartData, chartOptions, 0)
    }

    function BuildPie(id, chartData, options, level) {
        var xVarName;
        var divisionRatio = 2.5;
        var legendoffset = (level == 0) ? 0 : -40;

        d3.selectAll("#" + id + " .innerCont").remove();
        $("#" + id).append(chartInnerDiv);
        chart = d3.select("#" + id + " .innerCont");

        var yVarName = options[0].yaxis;
        width = 600
        height = 546
        //console.log(width, height)
        radius = Math.min(width, height) / divisionRatio;

        if (level == 1) {
            xVarName = options[0].xaxisl1;
        }
        else {
            xVarName = options[0].xaxis;
        }

        var rcolor = d3.scale.ordinal().range(runningColors);
        //console.log(runningColors)
        //console.log(runningData)

        arc = d3.svg.arc()
                .outerRadius(radius)
                .innerRadius(radius - 200);

        var arcOver = d3.svg.arc().outerRadius(radius + 20).innerRadius(radius - 195);

        chart = chart
                .append("svg")  //append svg element inside #chart
                .attr("width", width*10)    //set width
                .attr("height", height*10)  //set height
                .append("g")
                .attr("transform", "translate(" + (width / divisionRatio) + "," + ((height / divisionRatio) + 30) + ")");

        var pie = d3.layout.pie()
                    .sort(null)
                    .value(function (d) {
                        return d.case_total;
                    });

        var g = chart.selectAll(".arc")
                    .data(pie(runningData))
                    .enter().append("g")
                    .attr("class", "arc");

        var count = 0;

        var path = g.append("path")
                    .attr("d", arc)
                    .attr("id", function (d) { return "arc-" + (count++); })
                    .style("opacity", function (d) {
                        return d.data["op"];
                    });

        path.on("mouseenter", function (d) {
            d3.select(this)
                .attr("stroke", "white")
                .transition()
                .duration(200)
                .attr("d", arcOver)
                .attr("stroke-width", 1);
        })
         .on("mouseleave", function (d) {
             d3.select(this).transition()
                 .duration(200)
                 .attr("d", arc)
                 .attr("stroke", "none");
         })
         .on("click", function (d) {
             if (this._listenToEvents) {
                 // Reset inmediatelly
                 d3.select(this).attr("transform", "translate(0,0)")
                 // Change level on click if no transition has started
                 path.each(function () {
                     this._listenToEvents = false;
                 });
             }
             d3.selectAll("#" + id + " svg").remove();
             if (level == 1) {
                 //console.log("sexy"+d.data[xVarName])
                 TransformChartData(chartData, options, 0, d.data[xVarName]);
                 BuildPie(id, chartData, options, 0);
             }
             else {
                 var nonSortedChart = chartData.sort(function (a, b) {
                     //console.log(b['case_total'] + "SEXYY")
                     return parseFloat(b[options[0].yaxis]) - parseFloat(a[options[0].yaxis]);
                 });
                 console.log(nonSortedChart)
                 TransformChartData(nonSortedChart, options, 1, d.data[xVarName]);
                 BuildPie(id, nonSortedChart, options, 1);
             }

         });

        path.append("svg:title")
        .text(function (d) {
            return d.data["title"] + " (" + d.data[yVarName] + ")";
        });

        path.style("fill", function (d) {
            return rcolor(d.data[xVarName]);
        })
         .transition().duration(1000).attrTween("d", tweenIn).each("end", function () {
             this._listenToEvents = true;
         });


        g.append("text")
         .attr("transform", function (d) { return "translate(" + arc.centroid(d) + ")"; })
         .attr("dy", ".35em")
         .style("text-anchor", "middle")
         .style("opacity", 1)
         .text(function (d) {
             return d.data[yVarName];
         });

        count = 0;
        var legend = chart.selectAll(".legend")
            .data(runningData).enter()
            .append("g").attr("class", "legend")
            .attr("legend-id", function (d) {
                return count++;
            })
            .attr("transform", function (d, i) {
                return "translate(165," + (parseInt("-" + (runningData.length * 10)) + i * 28 + legendoffset) + ")";
            })
            .style("cursor", "pointer")
            .on("click", function () {
                var oarc = d3.select("#" + id + " #arc-" + $(this).attr("legend-id"));
                oarc.style("opacity", 0.3)
                .attr("stroke", "white")
                .transition()
                .duration(200)
                .attr("d", arcOver)
                .attr("stroke-width", 1);
                setTimeout(function () {
                    oarc.style("opacity", function (d) {
                        return d.data["op"];
                    })
                   .attr("d", arc)
                   .transition()
                   .duration(200)
                   .attr("stroke", "none");
                }, 1000);
            });

        var leg = legend.append("rect");

        leg.attr("x", width / 2)
            .attr("width", 18).attr("height", 18)
            .style("fill", function (d) {
                return rcolor(d[yVarName]);
            })
            .style("opacity", function (d) {
                return d["op"];
            });
        legend.append("text").attr("x", (width / 2) - 5)
            .attr("y", 9).attr("dy", ".35em")
            .style("text-anchor", "end").text(function (d) {
                return d.caption;
            });

        leg.append("svg:title")
        .text(function (d) {
            return d["title"] + " (" + d[yVarName] + ")";
        });

        function tweenOut(data) {
            data.startAngle = data.endAngle = (2 * Math.PI);
            var interpolation = d3.interpolate(this._current, data);
            this._current = interpolation(0);
            return function (t) {
                return arc(interpolation(t));
            };
        }

        function tweenIn(data) {
            var interpolation = d3.interpolate({ startAngle: 0, endAngle: 0 }, data);
            this._current = interpolation(0);
            return function (t) {
                return arc(interpolation(t));
            };
        }

    }

    function TransformChartData(chartData, opts, level, filter) {
        var result = [];
        var resultColors = [];
        var counter = 0;
        var hasMatch;
        var xVarName;
        var yVarName = opts[0].yaxis;
        //console.log(yVarName)

        if (level == 1) {
            xVarName = opts[0].xaxisl1;
            //console.log(xVarName)

            for (var i in chartData) {
                hasMatch = false;
                for (var index = 0; index < result.length; ++index) {
                    var data = result[index];

                    if ((data[xVarName] == chartData[i][xVarName]) && (chartData[i][opts[0].xaxis]) == filter) {
                        result[index][yVarName] = result[index][yVarName] + chartData[i][yVarName];
                        hasMatch = true;
                        break;
                    }

                }

                if ((hasMatch == false) && ((chartData[i][opts[0].xaxis]) == filter)) {
                    if (result.length < 8) {
                        ditem = {}
                        ditem[xVarName] = chartData[i][xVarName];
                        ditem[yVarName] = chartData[i][yVarName];
                        ditem["caption"] = chartData[i][xVarName].substring(0, 10) + '...';
                        ditem["title"] = chartData[i][xVarName];
                        //console.log(result.length)
                        ditem["op"] = 1.0 - parseFloat("0." + (result.length));
                        result.push(ditem);

                        resultColors[counter] = opts[0].color[0][chartData[i][opts[0].xaxis]];

                        counter += 1;
                    }
                }
            }
            //console.log(runningColors)
        }
        else {
            xVarName = opts[0].xaxis;
            //console.log(xVarName)

            for (var i=0;i<chartData.length;i++) {
                hasMatch = false;
                //console.log(result)
                for (var index = 0; index < result.length; ++index) {
                    var data = result[index];

                    if (data[xVarName] == chartData[i][xVarName]) {
                        result[index][yVarName] = result[index][yVarName] + chartData[i][yVarName];
                        hasMatch = true;
                        break;
                    }
                }
                if (hasMatch == false) {
                    ditem = {};
                    ditem[xVarName] = chartData[i][xVarName];
                    ditem[yVarName] = chartData[i][yVarName];
                    ditem["caption"] = opts[0].captions != undefined ? opts[0].captions[0][chartData[i][xVarName]] : "";
                    ditem["title"] = opts[0].captions != undefined ? opts[0].captions[0][chartData[i][xVarName]] : "";
                    ditem["op"] = 1;
                    result.push(ditem);
                    //console.log(ditem)
                    resultColors[counter] = opts[0].color != undefined ? opts[0].color[0][chartData[i][xVarName]] : "";
                    //console.log(result)
                    counter += 1;
                }
            }
        }
        var ct=0

        //result[0].case_total;
        //console.log(result[0].case_total)
        
        for (var x=0;x<result.length;x++)
            runningData[x]=result[x];
        
        for (var x=0;x<resultColors.length;x++)
            runningColors[x]=resultColors[x];
        return;
    }

    chartOptions = [{
        "captions": [{"Department of Consumer Affairs": "Department of Consumer Affairs", "Department of Food and Public Distribution": "Department of Food and Public Distribution", "Serious Fraud Investigation Office": "Serious Fraud Investigation Office", "Forest Reserve Conservation Authority": "Forest Reserve Conservation Authority", "Criminal Investigation Department": "Criminal Investigation Department", "Labour Bureau": "Labour Bureau", "National Commission for Minorities": "National Commission for Minorities", "National Commission for Women": "National Commission for Women"}],
        "color": [{ "Department of Consumer Affairs": "#0070C0", "Department of Food and Public Distribution": "#ff0000", "Serious Fraud Investigation Office": "#3B5841", "Forest Reserve Conservation Authority": "#BAF554", "Criminal Investigation Department": "#538300", "Labour Bureau": "#DBD03A", "National Commission for Minorities": "#807676", "National Commission for Women": "#AF00AF" }],
        "xaxis": "authority",
        "xaxisl1":"month",
        "yaxis": "case_total"
    }]

    var piedata = {{piedata}}
    var authority=["Department of Consumer Affairs","Department of Food and Public Distribution","Serious Fraud Investigation Office","Forest Reserve Conservation Authority","Criminal Investigation Department","Labour Bureau","National Commission for Minorities","National Commission for Women"]
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    console.log(piedata)
    var chartData = []
    //Converting into ChartData
    for (x=0;x<piedata.length;x++){
        var auth = authority[x]
        for (y=0;y<piedata[0].length;y++){
            var month=months[y]
            var temp = {"authority":auth,"month":month,"case_total":piedata[x][y]}
            chartData.push(temp)
        }
    }
    console.log(chartData)

    // var chartData = [
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "January",
    //         "case_total": 487
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "February",
    //         "case_total": 185
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "March",
    //         "case_total": 140
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "April",
    //         "case_total": 108
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "May",
    //         "case_total": 26
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "June",
    //         "case_total": 106
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "July",
    //         "case_total": 27
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "August",
    //         "case_total": 44
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "September",
    //         "case_total": 96
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "October",
    //         "case_total": 487
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "November",
    //         "case_total": 487
    //     },
    //     {
    //         "authority": "Department of Consumer Affairs",
    //         "month": "December",
    //         "case_total": 487
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "January",
    //         "case_total": 411
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "February",
    //         "case_total": 33
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "March",
    //         "case_total": 32
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "April",
    //         "case_total": 29
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "May",
    //         "case_total": 29
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "June",
    //         "case_total": 333
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "July",
    //         "case_total": 133
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "August",
    //         "case_total": 98
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "September",
    //         "case_total": 234
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "October",
    //         "case_total": 156
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "November",
    //         "case_total": 33
    //     },
    //     {
    //         "authority": "Department of Food and Public Distribution",
    //         "month": "December",
    //         "case_total": 33
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "January",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "February",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "March",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "April",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "May",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "June",
    //         "case_total": 7
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "July",
    //         "case_total": 20
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "August",
    //         "case_total": 232
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "September",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "October",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "November",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Serious Fraud Investigation Office",
    //         "month": "December",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "January",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "February",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "March",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "April",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "May",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "June",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "July",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "August",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "September",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "October",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "November",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Forest Reserve Conservation Authority",
    //         "month": "December",
    //         "case_total": 117
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "January",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "February",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "March",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "April",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "May",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "June",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "July",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "August",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "September",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "October",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "November",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Criminal Investigation Department",
    //         "month": "December",
    //         "case_total": 139
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "January",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "February",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "March",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "April",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "May",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "June",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "July",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "August",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "September",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "October",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "November",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "Labour Bureau",
    //         "month": "December",
    //         "case_total": 24
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "January",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "February",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "March",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "April",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "May",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "June",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "July",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "August",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "September",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "October",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "November",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Minorities",
    //         "month": "December",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "January",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "February",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "March",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "April",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "May",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "June",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "July",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "August",
    //         "case_total": 65
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "September",
    //         "case_total": 90
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "October",
    //         "case_total": 135
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "November",
    //         "case_total": 365
    //     },
    //     {
    //         "authority": "National Commission for Women",
    //         "month": "December",
    //         "case_total": 65
    //     },


    // ];
    // console.log(chartData)

</script>
</body>

</html>